[submodule "pathogen"]
    path="./.vim"
    url="https://github.com/tpope/vim-pathogen.git"
[submodule "ctrlp"]
    path="./.vim/bundle/ctrlp.vim"
    url="https://github.com/kien/ctrlp.vim.git"
[submodule "easymotion"]
    path="./.vim/bundle/easymotion.vim"
    url="https://github.com/Lokaltog/vim-easymotion.git"
[submodule "vim-dispatch"]
    path="./.vim/bundle/vim-dispatch.vim"
    url="https://github.com/tpope/vim-dispatch.git"
[submodule "vim-fswitch"]
    path="./.vim/bundle/vim-fswitch.vim"
    url="https://github.com/derekwyatt/vim-fswitch.git"
[submodule "vim-protodef"]
    path="./.vim/bundle/vim-protodef.vim"
    url="https://github.com/derekwyatt/vim-protodef.git"
[submodule "vim-repeat"]
    path="./.vim/bundle/vim-repeat.vim"
    url="https://github.com/tpope/vim-repeat.git"
[submodule "vim-surround"]
    path="./.vim/bundle/vim-surround.vim"
    url="https://github.com/tpope/vim-repeat.git"
