[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-easymotion.vim"]
	path = .vim/bundle/vim-easymotion.vim
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-dispatch.vim"]
	path = .vim/bundle/vim-dispatch.vim
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-fswitch.vim"]
	path = .vim/bundle/vim-fswitch.vim
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule ".vim/bundle/vim-protodef.vim"]
	path = .vim/bundle/vim-protodef.vim
	url = https://github.com/derekwyatt/vim-protodef.git
[submodule ".vim/bundle/vim-repeat.vim"]
	path = .vim/bundle/vim-repeat.vim
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround.vim"]
	path = .vim/bundle/vim-surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-execute.vim"]
	path = .vim/bundle/nerdtree-execute.vim
	url = https://github.com/ivalkeen/nerdtree-execute.git
[submodule ".vim/bundle/committia.vim"]
	path = .vim/bundle/committia.vim
	url = https://github.com/rhysd/committia.vim.git
[submodule ".vim/bundle/vim-bracketed-pase.vim"]
	path = .vim/bundle/vim-bracketed-pase.vim
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule "Templates/base_cpp_cmake"]
	path = Templates/base_cpp_cmake
	url = https://github.com/Marneus68/base_cpp_cmake.git
[submodule "Templates/base_cpp_makefile"]
	path = Templates/base_cpp_makefile
	url = https://github.com/Marneus68/base_cpp_makefile.git
[submodule "Templates/base_c_makefile"]
	path = Templates/base_c_makefile
	url = https://github.com/Marneus68/base_c_makefile.git
[submodule "Templates/base_cpp_makefile_googletest"]
	path = Templates/base_cpp_makefile_googletest
	url = https://github.com/Marneus68/base_cpp_makefile_googletest.git
[submodule ".vim/bundle/vim-clang.vim"]
	path = .vim/bundle/vim-clang.vim
	url = https://github.com/justmao945/vim-clang.git
[submodule ".vim/bundle/vim-go.vim"]
	path = .vim/bundle/vim-go.vim
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
